# Environments
venv/
env/
.env
src/.venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Specialized
.gemini/
.DS_Store
# Data & Models
assets/models/*.gguf
*.zip
*.log
*.db
*.db-wal
*.db-shm
data/raw/*
!data/raw/.gitkeep

# OS
.DS_Store
Thumbs.db
.claude/settings.local.json
